
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff; 
}

#HealHubLogo {
    display: block;
    margin: 0 auto;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: #bab6b6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"], input[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #343534;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #09f215;
}

.error-message {
    font-size: 24px;
    color: #ff0000;
    text-align: center;
    margin-top: 20px;
}
