<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title><strong>Administrator page</strong></title>
   <style>
              .btn-container {
              text-align: center;
          }
      
          .btn {
              padding: 15px 30px;
              font-size: 18px; 
          }
          
   </style>
</head>
<body>
    <h1>Welcome, Administrator</h1>
    <details>
        <summary>Add</summary>
        <details>
            <summary>Add doctor</summary>
            <form method="POST" action="{{ url_for('add_doctor') }}">
                <div class="info-box">
                    <label for="doctor_name">Name:</label>
                    <input type="text" id="doctor_name" name="doctor_name" placeholder="seif" required>
                    <label for="doctor_age">Age:</label>
                    <input type="text" id="doctor_age" name="doctor_age" placeholder="45" required>
                    <label for="doctor_id">ID : </label>
                    <input type="text" id="doctor_id" name="doctor_id" placeholder="D_202201510" required>
                    <label for="doctor_office_number">Office Number : </label>
                    <input type="text" id="doctor_office_number" name="doctor_office_number" placeholder="66" required>
                    <label for="doctor_salary">Salary:</label>
                    <input type="text" id="doctor_salary" name="doctor_salary" placeholder="1000$" required>
                    <label for="doctor_Gender">Gender:</label>
                    <select id="doctor_Gender" name="doctor_Gender" style="width: 400px;">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <br>
                <input type="submit" value="Add Doctor">
                <input type="reset" value="reset">
            </form>
        </details>
        <br>
        <br>
        <details>
            <summary>Add Patient</summary>
            <form method="POST" action="{{ url_for('Add_Patient') }}">
                <div class="info-box">
                    <label for="patient_name">Name:</label>
                    <input type="text" id="patient_name" name="patient_name" placeholder="mohamed" required>

                    <label for="patient_id">ID:</label>
                    <input type="text" id="patient_id" name="patient_id" placeholder="P_3000" required>

                    <label for="patient_age">Age:</label>
                    <input type="text" id="patient_age" name="patient_age" placeholder="50" required>

                    <label for="patient_height">Height:</label>
                    <input type="text" id="patient_height" name="patient_height" placeholder="175" required>

                    <label for="patient_weight">Weight:</label>
                    <input type="text" id="patient_weight" name="patient_weight" placeholder="75" required>
                    
                    <label for="patient_prescription">prescription:</label>
                    <input type="text" id="patient_prescription" name="patient_prescription" placeholder="antibiotics...." required>

                    <label for="patient_blood_type">Blood Type:</label>
                    <select id="patient_blood_type" name="patient_blood_type" style="width: 400px;">
                        <option>A+</option>
                        <option>A-</option>
                        <option>B+</option>
                        <option>B-</option>
                        <option>O+</option>
                        <option>O-</option>
                        <option>AB+</option>
                        <option>AB-</option>
                    </select>

                    <label for="patient_condition">Condition:</label>
                    <input type="text" id="patient_condition" name="patient_condition" placeholder="good,bad,....." required>

                    <label for="Patient_gender">Gender:</label>
                    <select id="Patient_gender" name="Patient_gender" style="width: 400px;">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br>
                </div>
                <input type="submit" value="Add Patient">
                <input type="reset" value="reset">
            </form>
        </details>
        <br>
        <br>
        <details>
            <summary>Add Nurse</summary>
            <form method="POST" action="{{ url_for('add_nurse') }}">
                <div class="info-box">
                    <label for="Nurse_name">Name</label>
                    <input type="text" id="Nurse_name" name="Nurse_name" placeholder="rawan" required>
                    <label for="Nurse_age">Age:</label>
                    <input type="text" id="Nurse_age" name="Nurse_age" placeholder="45" required>
                    <label for="Nurse_id">ID:</label>
                    <input type="text" id="Nurse_id" name="Nurse_id" placeholder="N_3000" required>
                    <label for="Nurse_salary">Salary:</label>
                    <input type="text" id="Nurse_salary" name="Nurse_salary" placeholder="1000$" required>
                    <label for="Nurse_Gender">Gender:</label>
                    <select id="Nurse_Gender" name="Nurse_Gender" style="width: 400px;">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br>
                </div>
                <input type="submit" value="Add Nurse">
                <input type="reset" value="reset">
            </form>
        </details>
        <br>
        <br>
        <details>
            <summary>Add Pharmacist</summary>
            <form method="POST" action="{{ url_for('add_Pharmacist') }}">
                <div class="info-box">
                    <label for="Pharmacist_name">Name</label>
                    <input type="text" id="Pharmacist_name" name="Pharmacist_name" placeholder="Yehia" required>
                    <label for="Pharmacist_age">Age:</label>
                    <input type="text" id="Pharmacist_age" name="Pharmacist_age" placeholder="45" required>
                    <label for="Pharmacist_ID">ID:</label>
                    <input type="text" id="Pharmacist_ID" name="Pharmacist_ID" placeholder="P_3000" required>
                    <label for="Nurse_salary">Salary:</label>
                    <input type="text" id="Pharmacist_Salary" name="Pharmacist_Salary" placeholder="1000$" required>
                    <label for="Pharmacist_gender">Gender:</label>
                    <select id="Pharmacist_gender" name="Pharmacist_gender" style="width: 400px;">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br>
                </div>
                <input type="submit" value="Add Pharmacist">
                <input type="reset" value="reset">
            </form>
        </details>
        <br>
        <br>
        <details>
            <summary>Add Anesthesiologist</summary>
            <form method="POST" action="{{ url_for('add_Anesthesiologist') }}">
                <div class="info-box">
                    <label for="Anesthesiologist_Name">Name</label>
                    <input type="text" id="Anesthesiologist_name" name="Anesthesiologist_name" placeholder="haneen" required>
                    <label for="Anesthesiologist_age">Age:</label>
                    <input type="text" id="Anesthesiologist_age" name="Anesthesiologist_age" placeholder="45" required>
                    <label for="Anesthesiologist_ID">ID:</label>
                    <input type="text" id="Anesthesiologist_ID" name="Anesthesiologist_ID" placeholder="A_3000" required>
                    <label for="Anesthesiologist_salary">Salary:</label>
                    <input type="text" id="Anesthesiologist_Salary" name="Anesthesiologist_Salary" placeholder="1000$" required>
                    <label for="Anesthesiologist_Gender">Gender:</label>
                    <select id="Anesthesiologist_Gender" name="Anesthesiologist_Gender" style="width: 400px;">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <br>
                </div>
                <input type="submit" value="Add Anesthesiologist">
                <input type="reset" value="reset">
            </form>
        </details>

        <details>
            <summary>add Room</summary>
            <form method="POST" action="{{ url_for('add_Room') }}">
                <div class="info-box">
             
                    <label for="patient_name_room">Patient Name:</label>
                    <input type="text" id="patient_name_room" name="patient_name_room" placeholder="hassan ali" required>
                    
                    <label for="patient_ID">Patient ID:</label>
                    <input type="text" id="patient_ID_room" name="patient_ID" placeholder="202201515" required>
    
    
                    <label for="patient_age_room">Patient Age:</label>
                    <input type="text" id="patient_age_room" name="patient_age_room" placeholder="55" required>
    
                    <label for="patient_height_room">Patient Height:</label>
                    <input type="text" id="patient_height_room" name="patient_height_room" placeholder="175" required>
    
                    <label for="days_needed">Days Needed:</label>
                    <input type="text" id="days_needed" name="days_needed" placeholder="3" required>
                </div>
                <input type="submit" value="Add Room">
                <input type="reset" value="reset">
                </form>
        </details>



    </details>    
        <details>
            <summary>View Info</summary>

            <details>
                <summary>View Doctors</summary>

        <form method="GET" action="{{ url_for('display_doctor_info') }}">
            <button class="btn"> View
            </button>      
        </form>
            </details>

            <details>
                <summary>View patients</summary>

        <form method="GET" action="{{ url_for('display_patients_info') }}">
            <button class="btn"> View
            </button>           </form>
            </details>

            <details>
                <summary>View Nurses</summary>

        <form method="GET" action="{{ url_for('display_nurse_info') }}">
            <button class="btn"> View
            </button>           </form>
            </details>

            <details>
                <summary>View Pharmacists</summary>

        <form method="GET" action="{{ url_for('display_Pharmacist_info') }}">
            <button class="btn"> View
            </button>           </form>
            </details>

            <details>
                <summary>View Anesthesiologists</summary>

        <form method="GET" action="{{ url_for('display_Anesthesiologist_info') }}" >
            <button class="btn"> View
            </button>           </form>
            </details>
    </form>
        </details>
    
        <div class="btn-container">
            <form method="GET" action="{{ url_for('index') }}">
                <button class="btn">Logout</button>
            </form>
        </div>
        
    </body>
</html>
