<!DOCTYPE html>
<html>

<head>
    <title>Anesthesiologist Data</title>
</head>

<head>
    <title>Anesthesiologist Data</title>
</head>

<body>
    <h1>Anesthesiologist Data</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Salary</th>
            <th>Gender</th>
        </tr>
        {% for Anesthesiologist in data %}
        <tr>
            <td>{{ Anesthesiologist['Name'] }}</td>
            <td>{{ Anesthesiologist['Age'] }}</td>
            <td>{{ Anesthesiologist['ID']}}</td>
            <td>{{ Anesthesiologist['Salary']}}</td>
            <td>{{ Anesthesiologist['Gender'] }}</td>
        </tr>
        {% endfor %}
        
    </table>
</body>