<!DOCTYPE html>
<html>

<head>
    <title>Display Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <h1>Doctor Data</h1>
    <table border="1"  class="styled-table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Office Number</th>
            <th>Salary</th>
            <th>Gender</th>
        </tr>
        {% for doctor in data %}
        <tr class="active-row"> 
            <td>{{ doctor['Name'] }}</td>
            <td>{{ doctor['Age'] }}</td>
            <td>{{ doctor['ID'] }}</td>
            <td>{{ doctor['Office Number']}}</td>
            <td>{{ doctor['Salary'] }}</td>
            <td>{{ doctor['Gender'] }}</td>
        </tr>
        {% endfor %}
        
    </table>
</body>