<!DOCTYPE html>
<html>

<head>
    <title>Display Data</title>
    <style>
        /* Add some styles for the delete button */
        .delete-button {
            cursor: pointer;
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Doctor Data</h1>
    <table border="1" class="styled-table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Office Number</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Action</th> 
        </tr>
         {% for doctor in data %}
        <tr class="active-row"  id="row1"> 
            <td>{{ doctor['Name'] }}</td>
            <td>{{ doctor['Age'] }}</td>
            <td>{{ doctor['ID'] }}</td>
            <td>{{ doctor['Office Number']}}</td>
            <td>{{ doctor['Salary'] }}</td>
            <td>{{ doctor['Gender'] }}</td>
            <td class="delete-button" onclick="deleteRow('row1')">Delete</td>
        </tr>
        {% endfor %}
            
        </tr>
        

    </table>

    <script>
        
        function deleteRow(rowId) {
            var row = document.getElementById(rowId); 
            row.parentNode.removeChild(row); 
        }
    </script>
</body>
</html>
