<!DOCTYPE html>
<html>

<head>
    <title>Display Data</title>
</head>

<body>
    <h1>Doctor Data</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Office Number</th>
            <th>Salary</th>
            <th>Gender</th>
        </tr>
        {% for doctor in data %}
        <tr>
            <td>{{ doctor['Name'] }}</td>
            <td>{{ doctor['Age'] }}</td>
            <td>{{ doctor['ID'] }}</td>
            <td>{{ doctor['Office Number']}}</td>
            <td>{{ doctor['Salary'] }}</td>
            <td>{{ doctor['Gender'] }}</td>
        </tr>
        {% endfor %}
        
    </table>
</body>