<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <img src="{{ url_for('static', filename='HealHubLogo.png') }}" height="250px" id="HealHub Logo"/>
    <br>
    <br>
    <form method="POST" action="/">
        <label>User Type:</label>
        <select id="usertype" name="usertype" style=" width: 400;">
            <option>Administrator</option>
            <option>Normal User</option>
        </select>
        <br>
        <br>
        <label>Username</label>
        <br>
        <input type="text" id="username" name="username" style=" width: 600;">
        <br>
        <br>
        <label>Password</label>
        <br>
        <input type="password" id="password" name="password" style=" width: 600;">
        <br>
        <br>

        <input type="submit" value="Submit" style="width: 500;">

        <input type="reset" style = "width: 500;">
    </form>
</body>
</html>
