<!DOCTYPE html>
<html>

<head>
    <title>Nurse Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Add some styles for the delete button */
        .delete-button {
            cursor: pointer;
            color: red;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Nurse Data</h1>
    <table border="1" class="styled-table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Action</th> <!-- Add a new column for the delete button -->
        </tr>
        {% for nurse in data %}
        <tr class="active-row"  id="row3">
            <td>{{ nurse['Name'] }}</td>
            <td>{{ nurse['Age'] }}</td>
            <td>{{ nurse['ID'] }}</td>
            <td>{{ nurse['Salary'] }}</td>
            <td>{{ nurse['Gender'] }}</td>
            
            <td class="delete-button" onclick="deleteRow('row3')">Delete</td>
        </tr>
        {% endfor %}

    </table>

    <script>
        
        function deleteRow(rowId) {
            var row = document.getElementById(rowId); 
            row.parentNode.removeChild(row); 
        }
    </script>
</body>

</html>
