<!DOCTYPE html>
<html>

<head>
    <title>Pharmacist Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<head>
    <title>Pharmacist Data</title>
</head>

<body>
    <h1>Pharmacist Data</h1>
    <table border="1"  class="styled-table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>ID</th>
            <th>Salary</th>
            <th>Gender</th>
        </tr>
        {% for Pharmacist in data %}
        <tr  class="active-row">
            <td>{{ Pharmacist['Name'] }}</td>
            <td>{{ Pharmacist['Age'] }}</td>
            <td>{{ Pharmacist['ID'] }}</td>
            <td>{{ Pharmacist['Salary'] }}</td>
            <td>{{ Pharmacist['Gender'] }}</td>
        </tr>
        {% endfor %}
        
    </table>
</body>